@import url('https://fonts.googleapis.com/css?family=Roboto');

/* Global Styles */
:root {
    --primary-color: #982825;
    --dark-color: #242425;
    --light-color: #ACACAE;
    --text-color: #ffffff;
    --danger-color: #dc3545;
    /* --success-color: #28a745; */
  }

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    z-index: 10;
  }

  body {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    background-color: var(--dark-color);
    color: var(--text-color);
  }

  a {
      text-decoration: none;
      color: var(--text-color);
  }

  a:hover {
    color: var(--primary-color);
  }

  ul {
    list-style: none;
  }

  img {
    width: 100%;
  }

  /* Utilities */
.container {
    max-width: 1100px;
    margin: auto;
    overflow: hidden;
    padding: 0 2rem;
  }

  .btn {
    display: inline-block;
    background: #fff;
    color: var(--dark-color);
    padding: 0.8rem 1.3rem;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    margin-right: 0.5rem;
    transition: opacity 0.2s ease-in;
    outline: none;
  }

  .btn:hover {
    background: rgba(152, 40, 37, 0.85);
    color: #fff;
  }

/* Grid */
.grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
  }
  
  .grid-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
  }
  
  .grid-4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
  }
  
  .grid-2-3 {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-gap: 2rem;
  }

.App {
    display: flex;
    background: #fff;
    height: 200vh;
}

.nav {
    position: fixed;
    background: rgba(36, 36, 37, 0.85);
    box-shadow: 7px 4px 9px rgba(0, 0, 0, 0.25);
    /* border-right: 1px solid var(--primary-color); */
    height: 100vh;
    z-index: 100;
}

.navLinks {
    margin-top: 4rem;
}

li {
    padding-top: .5rem;
    font-size: 1.2rem;
}


.app-title {
    background: rgba(152, 40, 37, 0.85);
    padding: 2rem 5.5rem;
    font-size: 2rem;
    text-transform: uppercase;
}

.searchBar {
    border-bottom: 1px solid var(--primary-color);
    padding-bottom: .5rem;
    /* background: rgba(36, 36, 37, 0.9); */
    
    
}

.searchInput {
    padding: 2.5rem 2rem 2rem 2rem;
    background: rgb(57 57 58);
    color: var(--light-color);
    border: none;
    font-size: 30px;
    text-align: center;
    display: block;
    margin: 0 auto;
    width: 100%;
}

.left-content {
    width: 100vw;
    margin-left: 326px;
    background: rgba(36, 36, 37, 0.9);
    padding-bottom: 10rem;
}

/* Movies.js */
.search-movies-title {
    padding: 1rem 2rem 0 2rem;
}

/* MovieItem */
.movie-item-title {
    font-size: 1rem;
}

.movieItem {
    margin-top: 2rem;
}

.movie-btn-container {
    display: flex;
    flex-direction: column;
}

.movie-details {
    border-bottom: 1px solid #fff;
    margin-bottom: 15px;
    width: 30%;
}

.nominate-btn {
    padding: .8rem;
    border: none;
}

.nominate-btn:hover {
    background: rgba(152, 40, 37, 0.85);
    color: #fff;
}

.nominationItem {
    display: flex;
    justify-content: space-between;
    background: #242425;
    margin-top: 1.5rem;
    padding: 1rem;
    height: 350px;
}

.nomination-img > img {
    width: 250px;
    height: 315px;
    object-fit: contain;
}

.nomination-details {
    display: flex;
}

.nomination-content {
    padding: 0 1rem;
}
.nomination-title {
   font-size: 1.4rem;
}

.nomination-plot {
    margin-top: 1rem;
}
.remove-btn {
    padding: .5rem;
    border: none;
}
.remove-btn:hover {
    background: rgba(152, 40, 37, 0.85);
    color: #fff;
}


/* Movie.js */

.movie-card {
    background: #242425;
    margin-top: 2rem;
    padding: 3rem;
}

.movie-img {
    width: 300px;
    margin-top: 2rem;
}

.movie-plot{
    margin: 1rem 0;
}

.imdb-rating {
    color: #f5c618;
}

strong {
    margin-right: 5px;
}

.back-btn-container {
    margin-top: 2rem;
    margin-left: 1rem;
}

.back-btn {
    padding: 1rem;
    border: none;
    background-color: #fff;
    color: var(--dark-color);
}
.back-btn:hover {
    background: rgba(152, 40, 37, 0.85);
    color: #fff;
}

.fa-film, .fa-list {
    margin-right: 10px;
}

.fa-star {
    color: #f5c618; 
    margin-right: 0;
}

.fa-arrow-left {
    color: var(--dark-color);
    margin-right: 5px;
}
